/* Variables */
:root {
  --gray-dark: #222;
  --gray-light: #999;
  --background-image: linear-gradient(
    94deg,
    #ff26b2 0%,
    #851bd9 64%,
    #3f0fff 100%
  );
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}
h1 {
  font-size: 44px;
  color: var(--gray-dark);
}
h2 {
  font-size: 12px;
  font-weight: bold;
  color: var(--gray-dark);
}
a {
  font-size: 9px;
  color: var(--gray-dark);
}
p {
  color: var(--gray-dark);
}

.body {
  width: 612px;
  height: 792px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  padding: 46px 13px 99px 16px;
}
.container {
  display: flex;
}
.header__content {
  width: 58%;
}
.header__desc {
  -webkit-background-clip: text;
  background-image: var(--background-image);
  color: transparent;
}
.header__p {
  font-size: 10px;
  color: var(--gray-dark);
  margin-top: 14px;
}
.social {
  margin-top: 14px;
}
.social__item {
  display: flex;
  gap: 2px;
}
.social__item p {
  font-size: 9px;
}
.social__links {
  display: flex;
  gap: 28px;
  margin-top: 5px;
}

.header__image {
  width: 42%;
}
.avatar {
  width: 125px;
  height: 125px;
  display: block;
  margin: auto;
  margin-top: 16px;
}

.info {
  gap: 20px;
  display: flex;
  margin-top: 49px;
}
.info__experience {
  width: 58%;
}
.experience__date {
  font-size: 9px;
  -webkit-background-clip: text;
  background-image: var(--background-image);
  color: transparent;
  margin-top: 7px;
}
.experience__qualification {
  font-size: 10px;
  color: var(--gray-light);
  margin-top: 2px;
}
.bold {
  font-weight: bold;
}
.experience__skills {
  margin-top: 4px;
}
.experience__skill {
  font-size: 9px;
}

.divider {
  overflow: hidden;
}
.divider::after {
  content: "";
  display: block;
  height: 0.5em;
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid var(--gray-light);
}

.info__other {
  width: 37%;
}

.skill__information {
  font-size: 9px;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 7px;
}
.skill__information li {
  display: inline;
}
.skill__information li::after {
  content: " - ";
}
.skill__information li:last-child:after {
  content: ".";
}

.info__formations {
  margin-top: 22px;
}
.formation__date {
  font-size: 9px;
  -webkit-background-clip: text;
  background-image: var(--background-image);
  color: transparent;
  margin-top: 6px;
}
.formation__qualification {
  font-size: 10px;
  color: var(--gray-light);
  margin-top: 4px;
}
.new__line {
  display: block;
}

.info__languages {
  margin-top: 26px;
}
.languages {
  margin-top: 7px;
}
.language__information {
  font-size: 9px;
}

.info__projects {
  margin-top: 28px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 8px;
}
.project__link {
  font-size: 10px;
  font-weight: bold;
  text-decoration: underline;
}
.project__information {
  font-size: 9px;
  color: var(--gray-dark);
  margin-top: 3px;
}

/* Tablets and phones */
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 22px;
  }
  a {
    font-size: 14px;
  }
  p {
    font-size: 14px !important;
  }

  .body {
    width: 95%;
    height: 100%;
    padding: 10px 0px 10px 0px;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__content {
    text-align: center;
    width: 85%;
  }
  .header__p {
    font-size: 14px;
  }
  .social__item p {
    font-size: 14px;
  }
  .social__links {
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
  }
  .social__icon {
    width: 20px;
  }
  .header__image {
    width: 85%;
  }
  .avatar {
    margin: auto;
    display: block;
  }

  .info {
    gap: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .info__experience {
    width: 85%;
  }
  .info__other {
    width: 85%;
    margin-top: 15px;
  }

  .skill__information {
    font-size: 14px;
  }
  .project__link {
    font-size: 16px;
  }
}
